# Ignorar dependências instaladas
node_modules/

# Ignorar arquivos de ambiente
.env

# Ignorar arquivos de logs
*.log

# Ignorar configurações do editor (opcional)
.vscode/
.idea/

# Ignorar arquivos do sistema operacional (opcional)
.DS_Store
Thumbs.db
